.history/*
.vscode/*
*.db
*.jpg
*.mp4
logs/*.log
data/*.json
subscriptions/*
*.zip
*.orig
*.old
session_vars.json
**/__pycache__/*
.mypy_cahce/*
.venv/*
build/
dist/
WVD/
htmlcov
.env
.coverage
coverage.xml
